node_modules
.env

# Hardhat files
/cache
/artifacts
contracts-exposed

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

# Hardhat Ignition default folder for deployments against a public network
ignition/deployments/
deployed_addresses.json

# VSCode files
.vscode

# Graph Data files
dist/
output.json
index.html

# Makefile
Makefile

# Text files
roadmap.txt
slither.txt
coverage.txt
gasReport.txt